$theme-color: #008cfe;

.vp-page-title h1 {
    font-size: xx-large;
}

$font-family: 'PingFang SC,HarmonyOS_Medium,Helvetica Neue,Microsoft YaHei,sans-serif';
$font-family-heading: 'PingFang SC,HarmonyOS_Medium,Helvetica Neue,Microsoft YaHei,sans-serif';;